.banner-container{
    background-color: aqua;
    background-position: center;
    background-size: cover;
}

.banner-input-container{
    background: rgb(9,1,151);
    background: linear-gradient(31deg, rgba(41, 44, 194, 0.514) 27%, rgba(113, 119, 201, 0.342) 58%, rgba(138, 134, 228, 0.555) 100%);
    height:100%;
}
.input-container{
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 10px;
}

.banner-details{
     border-right:3px solid rgba(150, 150, 150, 0.397);
}
