.banner-container{
    background-color: rgb(00,00,00);
    background-position: center;
    background-size: cover;
    min-height:100%;
    transition: all 0.3s;
}

.banner-input-container{
    background: rgb(9,1,151);
    background: linear-gradient(31deg, rgba(41, 44, 194, 0.514) 27%, rgba(113, 119, 201, 0.342) 58%, rgba(138, 134, 228, 0.555) 100%);
    transition: all 0.3s;
    height:100%;
}
.input-container{
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 10px;
}

.banner-details{
     border-right:3px solid rgba(150, 150, 150, 0.397);
}
.bannerInfo{
    font-size: 50px !important;
}
@media  screen and (max-width:500px) {
    
    .bannerInfo{
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 20px !important;
    }
}
