.banner-container{
    background-color: aqua;
    background-position: center;
    background-size: cover;
}

.banner-input-container{
    background: rgb(9,1,151);
    background: linear-gradient(31deg, rgba(55, 49, 163, 0.329) 27%, rgba(69, 77, 190, 0.342) 58%, rgba(95, 91, 161, 0.555) 100%);
    height:100%;
}
.input-container{
    background-color: rgba(0, 0, 0, 0.507);
    
}
